body {
    font-family: helvetica, sans-serif;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 150px;
    height: 150px;
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
svg text {
    pointer-events: none;
    font-weight: bold;
}
svg text.system_outline_group_text {
    font-size: 32px;
}
#idPowerSystemState {
    margin: auto; /*centers the container*/
    display: flex;
    align-items : center;
    justify-content: center;
    width: 90%;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 30px;
}
svg.svgViewBoxClass {
    display: block;
    /*border: 1px solid #ccc;*/
    position: absolute;
    top: 140px;
    left: 10px;
    width: calc(100vw - 20px);
    height: calc(99vh - 140px);
    overflow-x: hidden;
    overflow-y: hidden;
}
div.normalState {
    color: white;
    background-color: green;
}
div.restorativeState {
    color: black;
    background-color: yellow;
}
div.emergencyState {
    color: white;
    background-color: red;
}

.faulted_switch_rect {
    fill: red;
}
.off_switch_rect {
    fill: Gainsboro;
}
.on_switch_rect {
    fill: Lime;
}

.faulted_oru_rect {
    fill: red;
}
.off_oru_rect {
    fill: Gainsboro;
}
.on_oru_rect {
    fill: burlywood;
}

.pdu_body, .mbsu_body {
    fill: burlywood;
}

.pdu_input_port {
    fill: lightgreen;
}
.bus_bar {
    stroke-width: 5;
}
