body {
    color:#fff ;
    background-color:#303030;
}

div.tooltip {
    color: white;
    background: steelblue;
}

.modal-body {
    color: black !important;
}

.solar_array_text, .wire_text {
    fill: white;
}

.battery_text_label, .battery_text_soc {
    fill: white;
}
.battery_terminal {
    stroke: white;
    fill: white;
}

.battery_outline {
    stroke: white;
}

.battery_juice_color {
    stop-color: green;
}
.battery_nonjuice_color {
    stop-color: #303030;
}

.arrowHead {
    stroke: red;
    fill: limegreen;
}

.wire_on {
    stroke: limegreen;
}
.wire_off {
    stroke: Gainsboro;
}
.bus_bar {
    stroke: green;
}

.system_outline_group_rect {
    stroke: Gainsboro;
}
.system_outline_group_text {
    fill: Gainsboro;
}
