# Ignore the file used by QT
CMakeLists.txt.user

# Ignore build directory
build/
build/*

# Ignore files built for unit tests
tests/unit_tests/build/
tests/unit_tests/build/*

logs/
logs/*

#
common/regsvr/hdtn/__pycache__/
common/regsvr/hdtn/__pycache__/*

.vscode/
