# Ignore the file used by QT
CMakeLists.txt.user

# Ignore build directory
build/
build/*

#Ignore external installation files
external/*

# Ignore files built for unit tests
tests/unit_tests/build/
tests/unit_tests/build/*

logs/
logs/*

#
common/regsvr/hdtn/__pycache__/
common/regsvr/hdtn/__pycache__/*

pycgr/py_cgr/py_cgr_lib/__pycache__/
pycgr/py_cgr/py_cgr_lib/__pycache__/*

.vscode/

module/gui/build/*
module/gui/external/*
module/gui/external.install/*
module/gui/root/*

*.bin
