* {
    box-sizing: border-box
}

body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
}

.light-mode {
    background-color: #c2c2c2;
    color: #7f7f7f;
}

.topnav {
    position:relative;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #7f7f7f;
}

    .topnav a {
        position: relative;
        display:block;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: black;
        }

.cardBox {
    position:relative;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-gap: 20px;
    word-wrap: break-word;
}

    .cardBox .tab {
        overflow: hidden;
        background-color: #f1f1f1;
        width:100%;
    }
        .cardBox .tab button {
            background-color: #404040;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            font-size: 2em;
            color: white;
            font-weight: 500;
        }
    .cardBox .tab button:hover {
        background-color: #ddd;
    }

    .cardBox .tab button.active {
        background-color: black;
    }

    .cardBox .card {
        position: relative;
        background: #404040;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: none;
    }

    .cardBox .card .label {
        color: white;
    }

    .cardBox .card .data {
        position:relative;
        font-size: 2em;
        color: white;
        font-weight: 500;
    }


.visualizations {
    position: relative;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

  

.onOffIndicator {
    position: relative;
    padding: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.details {
    padding-top:100px;
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}

    .details table {
        border-collapse: separate;
    }

    .details table tbody tr {
        color: white;
        font-weight: 100;
        vertical-align: middle;
    }


    .details .statsCard {
        position: relative;
        background: #404040;
        padding: 20px;
    }

        .details .statsCard table tbody tr:hover {
            background-color: #ddd;
            color: black;
        }

        .details .statsCard table tr td {
            padding: 7px 3px;
            color: white;
        }


    .details .configParamStats {
        position: relative;
        background: #404040;
        padding: 20px 20px;
        border-spacing: 0 20px;
    }

.cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
}

.engine_table {
    table-layout: fixed;
    background-color: #7f7f7f;
    color: white;
    font-size: 20px;
    text-align: left;
    width: 1150px;
}

    .engine_table th {
        background-color: #04AA6D;
        color: white;
    }

    .engine_table td {
        color: white;
    }

    .engine_table tr:nth-child(even) {
        background-color: #404040;
    }

    .engine_table tr td:nth-child(even) {
        text-align: center;
    }
    
.hidden {
    display: none;
}

/*config page*/

.configBox {
    position:relative;
    padding:20px;
    background-color: #404040;
    color: white;
    font-size: 20px;
    text-align: left;
    border-top: none;
}

.configBox table {
    border-collapse: collapse;
    margin: 25px 0;
    color: white;
    font-size: 1.2em;
    font-family: sans-serif;
    width: 1250px;
    border: 1px solid;
    table-layout:fixed;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th {
    padding: 20px 15px;
}
.styled-table td {
    padding: 20px 15px;
    border: 1px solid;
    word-wrap: break-word;
}

caption {
    font-size: 40px;
    font-weight: bold;
}
